<footer class="footer py-4 js-page-footer">
  <div class="main">
    <div class="site-info mt-2 text-center">
      <div>
        © 2025 David Bates
      </div>
      <div class="mt-1">
        If you're interested in collaborating or just talking about sports or data, feel free to reach out:
        <a href="mailto:contact@davidbates.me">Email</a> ·
        <a href="https://github.com/davidb747">GitHub</a> ·
        <a href="https://www.linkedin.com/in/david-bates-1545ab250/">LinkedIn</a>
      </div>
    </div>
  </div>
</footer>
