.timeline-item {
  @include flexbox();
  @include media-breakpoint-down(md) {
    @include flex-direction(column);
  }
}
.line {
  position:absolute;
  background-color: black;
  transform-origin: top left;
  transition: all 0.5s ease-in-out;
  height: 10px;
}
.timeline-item__date {
  color: $text-color-l;
  font-size: map-get($base, font-size-sm);
  line-height: map-get($base, line-height);
  @include media-breakpoint-down(md) {
    margin-bottom: map-get($spacers, 2);
  }
}
.timeline-item__image {
  margin-right: map-get($spacers, 3);
  & + .timeline-item__content {
    & > :first-child {
      margin-top: 0;
      & > :first-child {
        margin-top: 0;
      }
    }
  }
  @include media-breakpoint-down(md) {
    margin-right: 0;
  }
}

.timeline-item__content {
  @include flex(1);
  min-width: 0;
}

a > .timeline-item__header, a.timeline-item__header, .timeline-item__header > a {
  max-width:100%;
  @include link-colors($text-color-d, $main-color-1);
}

.timeline-item__meta {
  color: $text-color-l;
}
.timeline-item__description.move-right {
  transform: translateX(100%);
}
.timeline-item__description.move-left {
  transform: translateX(0%);
}
.timeline-item__icon--clickable {
  cursor: pointer;
  border-radius: map-get($base, border-radius);
  @include box-shadow();
  @include transition(box-shadow map-get($animation, duration) map-get($animation, timing-function));
  & > :first-child {
    border-top-left-radius: map-get($base, border-radius);
    border-top-right-radius: map-get($base, border-radius);
  }
  & > :last-child {
    border-bottom-right-radius: map-get($base, border-radius);
    border-bottom-left-radius: map-get($base, border-radius);
  }
  &:hover {
    @include box-shadow(0 0 0 map-get($spacers, 1) $main-color-1);
  }
  height: 100%;
  display: flex;
  align-items: center;
}
.timeline-item__description {
  display: flex;
  justify-content: flex-start;
  transition: transform 0.7s ease-in-out;
  &, .article__content {
    overflow: auto;
    font-size: map-get($base, font-size-sm);
    line-height: map-get($base, line-height);
    @include block-elements() {
      margin-top: map-get($spacers, 2);
      margin-bottom: map-get($spacers, 2);
    }
    @include heading-elements() {
      margin-top: map-get($spacers, 3);
    }
    h1, h2, h3 {
      color: $text-color;
    }
    h1, h2 {
      padding: 0;
      border: none;
    }
    h1 {
      font-size: map-get($base, font-size-h1-xs);
    }
    h2 {
      font-size: map-get($base, font-size-h2-xs);
    }
    h3 {
      font-size: map-get($base, font-size-h3-xs);
    }
    h4 {
      font-size: map-get($base, font-size-h4-xs);
    }
    h5 {
      font-size: map-get($base, font-size-h5-xs);
    }
    h6 {
      font-size: map-get($base, font-size-h6-xs);
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      @include media-breakpoint-down(md) {
        max-height: 14rem;
      }
    }
  }
}

.timeline-items {
  & > .timeline-item {
    &:not(:last-child) {
      margin-bottom: map-get($spacers, 2);
    }
  }
}
.timeline-item-hidden {
  display: none;
}
.timeline-items--divided {
  & > .timeline-item {
    &:not(:first-child) {
      padding-top: map-get($spacers, 4);
    }
    &:not(:last-child) {
      padding-bottom: map-get($spacers, 4);
      @include split-line(bottom);
    }
    list-style-type: none;
  }
}
